<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Tentang Saya</div>
                        <p>Saya <strong>Achmad Hamzah</strong>, alumni D3 Teknologi Komputer Universitas Telkom angkatan 2016 dengan IPK <strong>3.72/4.00</strong>. Saya seorang Front-End Web Developer yang memiliki ketertarikan besar terhadap <strong>microcontroller dan IoT</strong>.</p>
                        <p>Second Line</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Informasi Dasar</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Tempat, Tanggal Lahir:</strong>
                            </div>
                            <div class="col-sm-8">Mojokerto, 24 Juli 1996</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">hamzbond@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Phone:</strong>
                            </div>
                            <div class="col-sm-8">+62 81335695170</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Alamat:</strong>
                            </div>
                            <div class="col-sm-8">Jl. Marabahan 3 No 32 GKB Suci Gresik, Jawa Timur</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Bahasa:</strong>
                            </div>
                            <div class="col-sm-8">Jawa, Indonesia, Inggris</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>